.imgQR{
    position:absolute;
    height: 80px;
    width: auto;
    right: 184px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 9999;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.col-9{
    margin-left: 20px;
}

@media (max-width: 1250px){
    .dFlex{
        display: block !important;
    }

    .col-9{
        width: 100% !important;
    }

    .imgConvert{
        width: 100% !important;
    }
}